{% extends 'base.html' %}

{% block title %}
Все статьи на статье
{% endblock %}

{% block body %}
<div class="container" align="center">
    <h1>Все статьи на сайте</h1>

    {% if articles|length >0 %}

    {% for el in articles %}
        <div class="alert alert-info" style="color:#fff; background-color:#6F83D6;">
            <h2>{{ el.title }}</h2>
            <h2>{{ el.intro }}</h2>
            <p><b>Дата:{{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детально</a>
        </div>
    {% endfor %}

    {% else %}
    <p>У нас еще нет статей на сайте</p>
    {% endif %}
</div>
{% endblock %}